/* Footer at Bottom Fixes */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
}

/* Text Basic Styling */

/* Header Navigation */

.navigation {
    background-color: #181818;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 3.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    font-size: 18px;
}

.navigation.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

/* Lines into X Menu Element */
.custom-toggle .bar {
    background-color: #fff;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}

.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
    background-color: #434343;
}

.pure-menu-link {
    color: #fff;
}

.brand {
max-width: 250px;
}

.pure-menu-link {
    padding: 1em 1em;
}

.brand-name {
    color: #ddd;
    padding: 1em 1em;
}

/* Button Styling */
.pure-button {
    display: block; /* Remove this to make button not stretch entire screen */
    background-color: #181818;
    color: #fff !important;
}

.pure-button:hover{
    background-color: #434343;
}

.button-large {
            font-size: 125%;
        }

/* Body */

.img-padding {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
}

.img-padding:hover {
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Modern Browsers */
  opacity: 0.8;
}

/* Portfolio Elements */

.portfolio h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.portfolio a {
    color: #181818;
    text-decoration: none;
}

.portfolio {
    background-color: #fff;
    max-width: 980px;
    margin: auto;
}
