@media only screen and (max-width: 840px) {
    .photo {
        width: 175px;
        height: 175px;
    }
}

@media only screen and (min-width: 840px) {
    .photo {
        width: 225px;
        /* height: 225px; */
        border-radius: 50px;
    }
}
