body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

/* Header */
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-top:#00bd75 3px solid;
  border-bottom:#00bd75 3px solid;
}

/* used for the top branding*/
header #branding{
  float:left;
}
header #branding h1{
  margin:0;
}
header #branding:hover{
  color:#cccccc;
}

/* Styling for my name*/
header .highlight:hover{
  color:#cccccc;
}
header .highlight, header .current a{
  color:#ffffff;
  font-weight:bold;
}

/* for navigation buttons*/
header nav{
  float:right;
  margin-top:15px;
  margin-right:-100px;
}

header a{
  color:#ffffff;
  text-decoration:none;
}

header li{
  float:left;
  display:inline;
  padding: 0 15px 0 18px;
}

header a:hover{
  color:#cccccc;
}

/* The bottom border */
#bottom_border{
  margin-top:30px;
  padding:30px;
  background:#35424a;
  border-top:#00bd75 3px solid;
  border-bottom:#00bd75 3px solid;
}
